@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;1,600&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A
}

img {
  height: 20%;
  width: 20%;
  object-fit: contain;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration:none;
    float:left;
    text-align:center;
    margin: 5px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10;

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.array-container {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;

}

/* li a{
    padding: 20px;
    float:left;
    width: 1fr, 1fr, 1fr, 1fr, 1fr;
    text-align:center;
    font-size:13px;
    text-decoration:none;
  }

  li a:hover .circle {
    position: relative;
    z-index: 1;
    top: -60px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  } */

  .nav{
    padding: 0px;
    width: 640px;
    margin: 100px auto auto auto;
  }

.array-bars {
    width: 3.5px;
    background-color: lightblue;
    display: inline-block;
    margin: 1.5px;
    margin-top: 0px;
}



/* header {
  background: linear-gradient(0.25turn, #00416a, #ebf8e1, #e4e5e6);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);

} */

.container {

  margin: 0 auto;

}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: auto;
  height: 60px;
  line-height: 50px;
  transition: 1s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: whitesmoke;

}

h3 {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 15px 370px 0px 10px;
    color: black;
    float: left;
    font-weight: 550;
}

nav a:hover{
  color: lightblue;
}

nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: lightblue;
  transition: width .5s linear;
}
nav a:hover:after {width: 100%;}
