{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <title>Sorting Algorithm Visualizer</title>
    </head>
    <body>

        <header>
            <img class="logo" src="{% static 'media/img.png' %}" alt="logo">
            {% comment %} <h3>Algorithm Visualizer</h3> {% endcomment %}
            <div class ="container">

            <nav>
                <ul class="nav_links">
                    <li>
                        <a onclick="bubble_sort()">Bubble Sort </a>
                    </li>
                    <li>
                        <a onclick="selection_sort()">Selection Sort </a>
                    </li>
                    <li>
                        <a onclick="insertion_sort()">Insertion Sort </a>
                    </li>
                    <li>
                        <a onclick="merge_sort()">Merge Sort </a>
                    </li>
                    <li>
                        <a onclick="quick_sort()">Quick Sort </a>
                    </li>
                    <li>
                        <a href="{% url 'manual' %}">Manual Array</a>
                    </li>
                </ul>
            </nav>
            </div>
        </header>
    <main>
        <div>

            <ul>
            </ul>
        </div>
        <div class="array-container">
            {% for i in arr %}
        <div class="array-bars" style="height:{{ i }}px; background-color: grey;" >
        </div>
            {% endfor %}
        </div>

    </main>
</body>
<script>
    const ANIMATION_SPEED_MS = 5;
    const PRIMARY_COLOR = 'lightblue';
    const SECONDARY_COLOR = 'red';
    const ANIMATION_SPEED_MS_BUBBLE = 1;

    function bubble_sort() {
        $.ajax({
        type: "POST",
        url: '{{ 'bubblesort/' }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function callback(animations){
            var arr = JSON.parse(animations);

            for (let i = 0; i < arr.length; i++) {
                const isColorChange = (i % 4 === 0) || (i % 4 === 1);
                const arrayBars = document.getElementsByClassName('array-bars');
                    if(isColorChange === true) {
                        const color = (i % 4 === 0) ? SECONDARY_COLOR : PRIMARY_COLOR;
                        const [barOneIndex, barTwoIndex] = arr[i];
                        const barOneStyle = arrayBars[barOneIndex].style;
                        const barTwoStyle = arrayBars[barTwoIndex].style;
                        setTimeout(() => {
                            barOneStyle.backgroundColor = color;
                            barTwoStyle.backgroundColor = color;
                        },i * ANIMATION_SPEED_MS_BUBBLE);
                    }
                    else {
                        const [barIndex, newHeight] = arr[i];
                        if (barIndex === -1) {
                            continue;
                        }
                        const barStyle = arrayBars[barIndex].style;
                        setTimeout(() => {
                            barStyle.height = `${newHeight}px`;
                        },i * ANIMATION_SPEED_MS_BUBBLE);
                    }
            }
        }
        });
    }
</script>
</html>
