{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <title>Sorting Algorithm Visualizer</title>
    </head>
    <body>
        <header>
            <div class ="container">
            <nav>
            </nav>
            </div>
        </header>
    <main>
        <div>
            <h1>Algorithm Visualizer</h1>
            <ul>
            </ul>

            <form action="processing/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="submit">
            </form>

        </div>

    </main>
</body>
</html>
