{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <title>Sorting Algorithm Visualizer</title>
    </head>
    <body>
        <header>
            <nav>
            </nav>
        </header>
    <main>
        <div>
            <h1>Algorithm Output</h1>

            <div> {{ data }} </div>


        </div>

    </main>
</body>

</html>
